services:
  server:
    build:
      context: ./Dockerfile.dev
      args:
        environment: ${NODE_ENV}
    env_file:
      - .env
    develop:
      watch:
      
        - action: sync
          path: ./src
          target: /usr/pcso-lotto-api/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
    depends_on:
      - redis
  redis:
    image: "redis:latest"
  nginx:
    image: nginx:1.28.0
    depends_on:
      - server
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    restart: on-failure